.button {
  border: 0;
  background: var(--primary-color);
  border-radius: 45px;
  cursor: pointer;
  transition: box-shadow 0.5s;
  box-sizing: content-box;
}

.content {
  color: var(--accent-color);
  min-height: 40px;
  min-width: 80px;
  margin: 0px 20px;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  color: var(--accent-color);
  height: 40px;
  width: 40px;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:not([disabled]):hover,
.button_isActive {
  box-shadow: 0 0 15px var(--primary-color);
}

.button:focus {
  outline: 2px solid var(--accent-color);
  outline-offset: -4px;
}

.button:disabled {
  background: #3f3f3f;
  cursor: default;
}
